node_modules
vendor
.env
.env.*
!.env.example
.git
.vscode
.idea
storage/logs/*
storage/framework/views/*
bootstrap/cache/*
tests
docs
*.md
.editorconfig
.gitattributes
.gitignore
.phpunit.result.cache
phpunit.xml
.vercelignore
